aiofiles
aiohttp[speedups]
asyncurban
beautifulsoup4
colour
cowpy
dnspython
futures
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
gtts
futures==2.2.0
hachoir
heroku3
html-telegraph-poster
lyricsgenius
motor
numpy
oauth2client
Pillow
psutil
pybase64
PyDictionary
pymediainfo
git+https://github.com/ashwinstr/pyrogram.git@x21
# git+https://github.com/pyrogram/pyrogram.git@master
# pyrogram==1.4.7
pySmartDL
python-dotenv
pytz
rarfile
removebg
requests
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
git+https://github.com/MichaelCook/stagger
telegraph
tgcrypto
urbandict
vcsi
wget
wikipedia
git+https://github.com/ytdl-org/youtube-dl
git+https://github.com/Nekos-life/Async-nekos.life-wrapper
ruamel.yaml
ujson
youtube-search-python
yt_dlp
google_images_download
feedparser

### xtra reqs ###

cairosvg
colour
deezloader
emoji-country-flag
google
glitch-this
gtts
humanize
justwatch
lottie
qrcode
spotdl
tracemoepy
validators
geopy
prettytable
newspaper3k
pydub
pyfiglet
